<div class="grid-container">
            <div  class="menu-icon">
             <i (click)="openerSidenav()" class="fas fa-bars header__menu"></i>
           </div>
            
           <header class="header">
             <div class="header__search">
                <a routerLink="/"><img src="./assets/images/logo.jpg" style="height: 50px;" /></a>
             </div>
             <div class="header__avatar mobile-hide">Kiran Kumar (100330827) </div>
           </header>
         
           <aside #asideId class="sidenav">
             <div class="sidenav__close-icon">
               <i class="fas fa-times sidenav__brand-close"></i>
             </div>
             <div class="card-box card">
                <p (click)="openerSidenav()" class="close-icon">X</p>
                    <h2 style="font-size: 28px;">Total Reported</h2>
                    <div class="fa-2x text-center"><i *ngIf="!total_cases" class="fas fa-circle-notch fa-spin m-2"></i></div>
                    <h2 *ngIf="total_cases" style="font-size: 25px;">{{total_cases | number}}</h2>
             </div>
             <div class="card-box card" style="border-radius:none;">
                
                    <div class="form-group row">
                        <div class="col-md-12 col-12">
                            <h4 class="header-title mb-3">Search By Country </h4>          
                            <input type="text" id="example-placeholder" #search (keyup)="searchCountries(search.value)" class="form-control"
                             placeholder="Search 215 Affected Nations">
                        </div>
                    </div>
                    <div class="fa-3x text-center" [class.d-none]="!isLoadingCountries">
                        <i class="fas fa-circle-notch fa-spin m-2"></i>
                    </div>
                  <div class="infectedCountries" [class.d-none]="isLoadingCountries">
                    <perfect-scrollbar #perfectscrollbar style="height:346px;">
                           
                            <div class="infectedCountry" *ngFor="let country of countries">
                                <a href="./country/{{country.country.toLowerCase()}}">
                                    <div class="infectedCountryFlag">
                                        <img *ngIf="countryCodes[country.country] else unknown" style="height: 30px;
                                        width: 40px;" src="assets/flags/{{countryCodes[country.country].toLowerCase()}}.svg" alt="{{country.country}}">
                                        <ng-template #unknown>
                                            <img src="assets/flags/unknown.svg" alt="{{country.country}}">
                                        </ng-template>
                                    </div>
                                    <h5 class="infectedCountryName mt-0 mb-1">{{country.country}}</h5>
                                    <p class="infectedCountryDetails font-weight-bold">
                                        <span class="text-orange">{{country.cases | number}} Cases</span> |
                                        <span class="deceased-color">{{country.deaths | number}} Deaths</span>
                                    </p>
                                </a>
                            </div>
                        </perfect-scrollbar>
        
        
                    </div>
                </div>
           </aside>
         
           <main class="main">
                <router-outlet></router-outlet>
           </main>
         
           <footer class="footer">
             <div class="footer__copyright">&copy; 2020 s@V9Immigration</div>
             <div class="footer__signature">Made with love by V9Immigration</div>
           </footer>
</div>