.navbar-custom{
//  background-image: linear-gradient(to right top, #c0c0ac, #a4b19c, #85a291, #67938b, #4b8387);
   color: #fff;
    background: #222222;
}
.logo-lg{
    text-align: left;
}
.heading{
    margin: 0;
    padding: 10px 0 10px 0px;
    line-height: 53px;
}