.bg-d {
    background-color: #282d37;
}

.card-box{
    background: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


.confirmed{
    margin-bottom: 0;
    font-size: 18px;
  }
  
  .confirmed-color{
    color: #ff5b5b !important;
    font-weight: 900 !important;
  }
  
  .recovered{
    margin-bottom: 0;
    font-size: 18px;
  }
  
  .recovered-color{
    color: #10c469 !important;
    font-weight: 900 !important;
  }
  
  .deceased{
    margin-bottom: 0;
    font-size: 18px;
  }
  .deceased-color{
    color:#f9c851 !important;
    font-weight: 900 !important;
  }
  
  .active{
    margin-bottom: 0;
    font-size: 18px;
  }
  .active-color{
    color:#21AFDD !important;
    font-weight: 900 !important;
  }

  .color-font{
      color: #5d5959 !important;
  }
  @media only screen and (max-width: 768px){
    .mobile-block {
        display: block !important;
    }
  }